
#botonAñadirProducto{
    color: black;
    background-color: green;
    margin-top: 20px;
    width: 200px;
    margin-left: 20%;
}

.relleno{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.formulario{
    margin-top: 10px;
}

.formulariotitulos{
    margin-top: 13px;
}


#todoformulario{
    width: 50%;
    margin-left: 25%;
    display: flex;
}