#flechayboton{
    display: flex;
    width: 70%;
}

.volver {
   margin: auto;
   text-decoration: none;
   display: inline-block;
   width: 200px;
   height: 50px;
   text-align: center;
   position: relative;
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   margin-left: 20px;
   margin-top: 40px;
}
 
.volver div {
   position: absolute;
   background-color: #333;
   height: 100%;
   width: 50px;
   border-radius: 25px;
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.volver div span {
   display: block;
   position: absolute;
   top: calc(50% - 1px);
   left: 8px;
   height: 2px;
   width: 0px;
   background-color: #fff;
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   transform: rotate(180deg);
   margin-left: 35px;
}
 
.volver div span::before {
   display: block;
   content: "";
   height: 2px;
   width: 10px;
   background-color: #fff;
   position:absolute;
   top: -3px;
   left: 13px;
   transform: rotate(45deg);
}
 
.volver div span::after {
   display: block;
   content: "";
   height: 2px;
   width: 10px;
   background-color: #fff;
   position:absolute;
   top: 3px;
   left: 13px;
   transform: rotate(-45deg);
}

.volver:hover div {
   width: 100%;
}
 
.volver:hover div span {
   left:25%;
   width: 20px;
}
 
.volver:hover p {
   color: #fff;
}
