article{
    display: flex;
    margin-top: 30px;
}

.datosproducto{
    display: flex;
    flex-basis: 60%;
}
.informacionadicional{
    display: flex;
    flex-basis:20%;
    margin-left: 5%;
    justify-content: space-between;
    padding-left: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

.nombreProducto{
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#cancelarPedido{
    margin-top: 30px;
    float: right;
    margin-right: 150px;
}

button{
    background-color: red;
    color: black;
    font-size: 20px;
    border-radius: 12px;
}

.deleteProduct:hover {
    cursor: pointer;
}