article{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 35%;
    padding-top: 30px;
    padding-bottom: 50px;  
    margin-top: 50px;
    border-radius: 12px;
}

h1{
    text-align: center;
}

input{
    margin-top: 20px;
}

#botonIniciarSesion{
    background-color: rgb(40, 70, 206);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    float: right;
}


@media screen and (max-width:640px) {

    article{
        margin-left: 20%;
    }
}
