/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 may. 2022, 13:34:22
    Author     : alber
*/


#encabezado{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(51, 138, 149);
    height: 100px;
    padding-bottom: 8px;

}
body{
        background-color: rgb(131, 165, 194);
}
main{
    background-color: rgb(131, 165, 194);
    height: auto;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 100px;
}

#encabezadomediano, #links{
    display: none;
}

#buscar{
    margin-left: 50px;
}

.vinculo{
    margin-left: 20px;
}

nav{
    margin-left: 2%;
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    margin-right: 20px;
}

@media screen and (min-width:640px) and (max-width:1000px) {
    #encabezado{
        display: none;
    }
    
    #fotologo{
        border-radius: 12px;
        margin-top: 10px;
    }
    
    #encabezadomediano,#links{
        display: flex;
        list-style-type: none;
        background-color: rgb(51, 138, 149);
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 12px;
    }
    
    #encabezado900{
        background-color: rgb(51, 138, 149);
    }
    
    #buscar{
        margin-left: 100px;
    }
    
    #links{
        width: 80%;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: space-between;
    }
}

@media screen and (max-width:640px){
    #encabezado{
        display: none;
    }
    
    #encabezadomediano,#links{
        display: flex;
        list-style-type: none;
        background-color: rgb(51, 138, 149);
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #encabezado900{
        background-color: rgb(51, 138, 149);
    }
    
    #buscar{
        margin-left: 20px;
        width: 40px;
    }
    
    #fotologo{
        border-radius: 12px;
        margin-top: 10px;
    }
    
    #links{
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-between;
    }
}