/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 may. 2022, 13:51:19
    Author     : alber
*/

#filtros{
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 138, 149);
    padding-right: 50px;
    padding-bottom: 20px;
    width: 21.5em;
    margin-top: 0;
    margin-right: 1em;
    padding-left: 2em;
}


.input{
    margin-top: 20px;
}

.center {
  align-content: center;
  margin: 0 auto;
}

#searchButton {
    text-align: center;
    align-content: center;
    font-size: xx-large;
    margin-right: 1em;
}

section {
    padding: 1em;
    margin-top: 0;
}